<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Наши пользователи</h1>
  </div>
  <div class="user-avatars-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% @users.each do |user| %>
      <% next if user == current_user %> <!-- Исключаем текущего пользователя из списка -->
      <div class="users-list-item">
        <div class="user-image-div user-image-div-small" style="margin: 10px;">
          <% if user.avatar? %>
            <%= image_tag user.avatar.thumb.url, alt: "#{user.name}'s аватар", class: "rounded-avatar" %>
          <% else %>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCSiylwVA6PW_GnlrPL-UmN7zPcmtnzPqXSVExvXbpPQ&s" alt="заглушка" class="rounded-avatar" height="100px" width="100px">
          <% end %>
          <p><%= user.name %></p>

          <% unless current_user.pending_friend_requests.exists?(requester_id: user.id) %>
            <%= form_with(model: Friendship.new, url: friendships_path, method: :post, class: 'friendship-form') do |form| %>
              <%= form.hidden_field :requested_id, value: user.id %>
              <%= form.submit 'Добавить в друзья', class: 'btn btn-dark' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const acceptLinks = document.querySelectorAll('.accept-friendship-link');
        const rejectLinks = document.querySelectorAll('.reject-friendship-link');

        acceptLinks.forEach(link => {
            link.addEventListener('click', async (e) => {
                e.preventDefault();

                const friendshipId = link.dataset.friendshipId;
                const url = `/friendships/${friendshipId}/accept`;

                try {
                    const response = await fetch(url, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
                        }
                    });

                    // Обработка ответа...
                } catch (error) {
                    console.error(error);
                }
            });
        });

        rejectLinks.forEach(link => {
            link.addEventListener('click', async (e) => {
                e.preventDefault();

                const friendshipId = link.dataset.friendshipId;
                const url = `/friendships/${friendshipId}/reject`;

                try {
                    const response = await fetch(url, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
                        }
                    });

                    // Обработка ответа...
                } catch (error) {
                    console.error(error);
                }
            });
        });
    });

</script>
