<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Наши пользователи</h1>
  </div>
  <div class="user-avatars-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% @users.each do |user| %>
      <% next if user == current_user %> <!-- Исключаем текущего пользователя из списка -->
      <div class="users-list-item">
        <div class="user-image-div user-image-div-small" style="margin: 10px;">
          <% if user.avatar? %>
            <%= image_tag user.avatar.thumb.url, alt: "#{user.name}'s аватар", class: "rounded-avatar" %>
          <% else %>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCSiylwVA6PW_GnlrPL-UmN7zPcmtnzPqXSVExvXbpPQ&s" alt="заглушка" class="rounded-avatar" height="100px" width="100px">
          <% end %>
          <p><%= user.name %></p>

          <%= form_with(url: friendships_path, method: :post, class: 'friendship-form') do |form| %>
            <%= form.hidden_field :requested_id, value: user.id %>
            <% if current_user.pending_friend_requests.exists?(requested_id: user.id) %>
              <span class="friend-request-sent">&#10004; Запрос отправлен</span> <!-- Если запрос уже отправлен -->
            <% else %>
              <%= form.submit 'Добавить в друзья', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const forms = document.querySelectorAll('.friendship-form');

        forms.forEach(form => {
            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                const formData = new FormData(form);

                try {
                    const response = await fetch(form.action, {
                        method: form.method,
                        body: formData
                    });

                    if (response.ok) {
                        const flashMessages = document.getElementById('flash-messages');
                        flashMessages.innerHTML = '<div class="flash-success">Запрос на дружбу отправлен успешно</div>';

                        const submitButton = form.querySelector('input[type="submit"]');
                        submitButton.style.display = 'none';

                        const successMark = form.querySelector('.friend-request-sent');
                        if (successMark) {
                            successMark.style.display = 'inline-block';
                        }
                    } else {
                        throw new Error('Ошибка при отправке запроса на дружбу');
                    }
                } catch (error) {
                    console.error(error);
                }
            });
        });
    });
</script>
